@model SysPatrimonio.Models.DbDepartamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Departamentos</h1>
<h3>Editar</h3>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="nomedepartamento" class="control-label">Nome</label>
                <input asp-for="nomedepartamento" class="form-control" />
                <span asp-validation-for="nomedepartamento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="descricaodepartamento" class="control-label">Descrição</label>
                <input asp-for="descricaodepartamento" class="form-control" />
                <span asp-validation-for="descricaodepartamento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="idlocal" class="control-label">Id Local</label>
                <input asp-for="idlocal" class="form-control" />
                <span asp-validation-for="idlocal" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Cadastrar" class="btn btn-primary" /> |
                <a asp-action="Index">Voltar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
