@model SysPatrimonio.Models.DbUsuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Usuário</h1>
<h3>Editar</h3>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="row">
            <div class="form-group col-md-5">
                <label asp-for="nome" class="control-label">Nome</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="login" class="control-label">Login</label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="senha" class="control-label">Senha</label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="status" class="control-label">Status</label>
                <input type="checkbox" asp-for="status" class="form-check-input form-control" style="height: 30px; width: 30px; padding: 0px; margin-top: 4px;" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Salvar Alterações" class="btn btnCad btn-success" />
                <a asp-action="Index" class="btn btnCad btn-primary">Voltar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
