@model IEnumerable<SysPatrimonio.Models.DbCategoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>
<p class="pull-right">
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricaocategoria)
            </td>
            <td>
                <div class="row pull-right formBotoes">
                    <div class="col-md-12">
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
