@model SysPatrimonio.Models.DbLocal

@{
    ViewData["Title"] = "Create";
}

<h1>Locais</h1>
<h3>Cadastrar</h3>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="nomelocal" class="control-label">Nome do Local</label>
                <input asp-for="nomelocal" class="form-control" />
                <span asp-validation-for="nomelocal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="descricaolocal" class="control-label">Descrição</label>
                <input asp-for="descricaolocal" class="form-control" />
                <span asp-validation-for="descricaolocal" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Cadastrar" class="btn btnCad btn-success" /> 
                <a asp-action="Index" class="btn btnCad btn-primary">Voltar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
