html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn{
    margin-top: 0px;
    padding: 5px;
}

.btnCad {
    margin-top: 15px;
}

h1{
    text-align: center;
}

.pull-right {
    text-align: right;
}

.rowForm {
    margin-top: 15px;
}