html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn{
    margin-top: 10px;
    padding: 5px;
}

h1{
    text-align: center;
}

.pull-right {
    text-align: right;
}